/* ---------------------------------------
   ESTILOS DE LA BARRA DE NAVEGACIÓN
--------------------------------------- */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--color-fondo);
    color: var(--color-texto);
    /* navbar fijo */
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo img {
    width: 120px;
    height: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: var(--color-texto);
    font-size: 18px;
    padding: 10px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: var(--hover-primario); /* Hover Primario */
}

/* Estilo para el enlace activo */
.active {
    color: var(--color-primario); /* Cambiar el color del texto del enlace activo */
    font-weight: bold;            /* Opción para hacer el texto más destacado */
}

.navbar-buttons .btn {
    background-color: var(--color-acento); /* Botón azul */
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navbar-buttons .btn:hover {
    background-color: var(--hover-secundario); /* Hover Secundario */
}

.navbar-buttons .descargar-cv {
    background-color: var(--color-primario); /* Botón Descargar CV */
}

.navbar-buttons .descargar-cv:hover {
    background-color: var(--hover-primario);
}
