/* ---------------------------------------
   ESTILOS DE LOS PROYECTOS
--------------------------------------- */

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas fijas */
    gap: 30px;
}

.project-item {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.project-item:hover {
    transform: scale(1.05);
}

.project-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.project-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.project-item p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
}

.btn-detalles {
    padding: 10px 15px;
    background-color: var(--color-acento); /* Color del botón */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.btn-detalles:hover {
    background-color: #3b46c1;
}

/* Añadir para asegurar que el diseño sea responsivo en pantallas pequeñas */
@media (max-width: 900px) {
    .project-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas medianas */
    }
}

@media (max-width: 600px) {
    .project-grid {
        grid-template-columns: repeat(1, 1fr); /* 1 columna en pantallas pequeñas */
    }
}


/* ---------------------------------------
   ESTILO UNICO DEL FOOTER
--------------------------------------- */

footer {
    position: fixed;
}